*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* TOP BAR */
.topbar{
    background:#ffd400;
    display:flex;
    justify-content:space-between;
    padding:8px 40px;
    font-size:14px;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
    position:sticky;
    top:0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:600;
    font-size:18px;
}

/* logo image */
.logo img{
    height:60px;      /* adjust size */
    width:auto;
}

/* optional: hover effect */
.logo img:hover{
    transform:scale(1.05);
    transition:0.2s;
}


.nav-links {
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links li{
    cursor:pointer;
    font-weight:500;
}

.nav-links li:hover{
    color:#ffd400;
}

.nav-links a,.contact-btn a{
    text-decoration:none;
    color:black;
}

.nav-links a:hover{
    color:#ffd400;
}

.contact-btn{
    background:#ffd400;
    border:none;
    padding:12px 20px;
    border-radius:25px;
    cursor:pointer;
}

/* HERO SECTION */
.hero{
    position:relative;
    height:90vh;
    overflow:hidden;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    opacity:0;  /* Makes the slide invisible */
    transition:0.6s;
    display:flex;
    align-items:center;
    justify-content:center;
}
/* This makes the active slide visible */
.slide.active{      
    opacity:1;
}

.hero-content{
    text-align:center;
    color:white;
    background:rgba(0,0,0,0.35);
    padding:60px;
    border-radius:10px;
    width:60%;
}

.hero-content h1{
    font-size:48px;
    line-height: 1.2;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    margin-bottom:30px;
}

.explore-btn{
    padding:15px 35px;
    background:#ffd400;
    border:none;
    border-radius:25px;
    font-weight:bold;
}

/* arrows */
.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:40px;
    color:white;
    cursor:pointer;
    padding:10px;
    background:rgba(0,0,0,0.3);
}

.arrow.left{ left:20px; }
.arrow.right{ right:20px; }

/* floating cards container */
.hero-cards{
    position:absolute;
    left: 50%;
    bottom:50px;
    transform:translateX(-50%);
    display:flex;
    gap:25px;
}

/* individual card */
.hero-card{
    background:white;
    padding:25px;
    width:250px;
    border-radius:50px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    text-align:left;
}

.hero-card .num{
    color:#ffd400;
    font-weight:bold;
}

.contact-section{
    padding: 80px 200px;
    background: #f7f7f7;
}

.small-title{
    color: #9aa4b2;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.contact-section h1{
    font-size: 48px;
    margin-bottom: 40px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 800px;
}

.contact-form input, .contact-form textarea{
    padding:20px;
    border-radius: 30px;
    border:1px solid #ddd;
    font-size: 16px;
    width:50%;
}

.contact-form textarea{
    border-radius: 20px;
    height:100px;
}

.send-btn{
    width: 220px;
    padding: 18px 30px;
    background: #ffd400;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/*Contact us section*/
.contact-wrapper{
    display:flex;
    gap:50px;
    padding:80px 120px;
    background: #f7f7f7;
}

.contact-right{
    flex:1;
    background: #ffd400;
    padding:40px;
    border-radius: 20px;
    color:black;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.contact-right h1{
    font-size: 40px;
    margin: 10px 0 20px;
}

.contact-right p{
    margin-bottom: 20px;
    line-height: 1.6;
}

.info-block{
    margin-top: 25px;
}

.map-section{
    width: 100%;
    margin-top: 60px;
}

.map-section iframe{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}