<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- TOP YELLOW BAR -->
<div class="topbar">
    <div class="top-left">
        <span><a href="https://www.linkedin.com/company/genesys-info-x/">LinkedIn</a></span>
        <span><a href="https://www.instagram.com/genesys.info_x/profilecard/?igsh=MXg2NW1rMnltMnhiOQ%3D%3D">Instagram</a></span>
        <span><a href="https://en.wikipedia.org/wiki/Genesys_Info_X?fbclid=PAZXh0bgNhZW0CMTEAAadlyvZLwo3z3fKrOiuihegfGqqbSICz1MVXxo9HZZkSllK2Hdy4xGE7lQHlHA_aem_yTrRsqmASmYfr7NWkaNWFg">Wikipedia</a></span>
    </div>

    <div class="top-right">
        <span>Hyderabad, India</span>
        <span>info@genesysinfox.com</span>
    </div>
</div>

<nav class="navbar">
    <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Genesys Logo"></div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/ai-projects">AI Projects</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <button class="contact-btn" ><a href="/contact_us">Contact Us</a></button>
</nav>


<!-- CONTACT SECTION -->
<section class="contact-section">

    <h4 class="small-title">GET IN TOUCH</h4>
    <h1>Ready to Get Started?</h1>

    <form class="contact-form" method="POST" action="/contact">

        <input type="text" name="name" placeholder="Your Name *" required>
        <input type="email" name="email" placeholder="Your Email *" required>
        <textarea name="message" placeholder="Message..." required></textarea>

        <button class="send-btn">Send Message →</button>

    </form>

</section>

</body>
</html>
