<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- TOP YELLOW BAR -->
<div class="topbar">
    <div class="top-left">
        <span><a href="https://www.linkedin.com/company/genesys-info-x/">LinkedIn</a></span>
        <span><a href="https://www.instagram.com/genesys.info_x/profilecard/?igsh=MXg2NW1rMnltMnhiOQ%3D%3D">Instagram</a></span>
        <span><a href="https://en.wikipedia.org/wiki/Genesys_Info_X?fbclid=PAZXh0bgNhZW0CMTEAAadlyvZLwo3z3fKrOiuihegfGqqbSICz1MVXxo9HZZkSllK2Hdy4xGE7lQHlHA_aem_yTrRsqmASmYfr7NWkaNWFg">Wikipedia</a></span>
    </div>

    <div class="top-right">
        <span>Hyderabad, India</span>
        <span>info@genesysinfox.com</span>
    </div>
</div>

<nav class="navbar">
    <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Genesys Logo"></div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/ai-projects">AI Projects</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <button class="contact-btn" ><a href="/contact_us">Contact Us</a></button>
</nav>
<section class="contact-wrapper">
    <!-- RIGHT: CONTACT DETAILS -->
    <div class="contact-right">

        <h4>CONTACT DETAILS</h4>
        <h1>Our Contacts</h1>

        <p>
            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be happy to answer your questions.

        <div class="info-block">
            <strong>OFFICE:</strong>
            <p>
                Genesys Informatics India Pvt Ltd, Cyber Gateway, Block C, Wing 2, 3rd Floor, Phase 2, Hitec City, Hyderabad, Telangana 500081
            </p>
        </div>

        <div class="info-block">
            <strong>MAIL:</strong>
            <p>info@genesysinfox.com</p>
        </div>

        <div class="info-block">
            <strong>PHONE:</strong>
            <p>+91 6309357756</p>
        </div>

    </div>

</section>
<!-- MAP SECTION -->
<section class="map-section">

    <iframe
        src="https://www.google.com/maps?q=Genesys+Informatics+India+Pvt+Ltd&output=embed"
        allowfullscreen=""
        loading="lazy">
    </iframe>

</section>

</body>
</html>